@page "/editstaff/{id}"
@page "/editstaff"
@rendermode InteractiveServer
@inherits EditStaffBase

@if (staff == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="staff" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group" style="margin-bottom: 10px;">
            <label class="col-md-3">Staff Name:</label>
            <InputText id="staffName" class="col-md-5 form-control" @bind-Value="staff.StaffName" />
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            <label class="col-md-3">Email:</label>
            <InputText id="email" class="col-md-5 form-control" @bind-Value="staff.Email" />
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            <label class="col-md-3">Phone Number:</label>
            <InputText id="phone" class="col-md-5 form-control" @bind-Value="staff.PhoneNumber" />
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
            <label class="col-md-3">Starting Date:</label>
            <InputDate class="col-md-5 form-control" @bind-Value="staff.StartingDate" />
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <label class="col-md-3">Photo:</label>
            <InputFile OnChange="HandleFileSelected" />

            @if (!string.IsNullOrEmpty(photoPreview))
            {
                <div class="mt-2">
                    <img src="@photoPreview" style="max-width: 150px; border-radius: 8px;" />
                </div>
            }
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/stafflist" class="btn btn-danger m-1">Cancel</a>
        </div>
    </EditForm>
}